<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Jupiter</ion-title>
      <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/planetbilder/jupiter.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-text>Infoga information här tack!</ion-text>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-text>Infoga information här tack!</ion-text>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-text>Infoga information här tack!</ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>