<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Mars</ion-title>
      <ion-back-button defaultHref="home" slot="start"></ion-back-button>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-con>
        <ion-card> 

        </ion-card>
      </ion-con>
    </ion-row>
    <ion-row>
      <ion-con>
        <ion-card> 
          
        </ion-card>
      </ion-con>
    </ion-row>
    <ion-row>
      <ion-con>
        <ion-card> 
          
        </ion-card>
      </ion-con>
    </ion-row>
    <ion-row>
      <ion-con>
        <ion-card> 
          
        </ion-card>
      </ion-con>
    </ion-row>
  </ion-grid>
</ion-content>