ion-card{
  width:auto;
  height:auto;
  border-style: solid;
  border-color: #000000;
  background: url(../../assets/bakgrundsbilder/minispace_bred.png) no-repeat center/cover fixed;
}

ion-content {
  --background: url(../../assets/bakgrundsbilder/månen.jpg) no-repeat center/cover fixed;
  background-color: #fff;
}

ion-header{
  height:auto;
  font-size: xx-large;
  color: #ffffff;
}