<ion-header [translucent]="true">
  <ion-grid>
    <ion-row>

      <ion-col size="12" size-sm>
        <ion-card tappable href="merkurius">
          <ion-card-header>
            <ion-card-title>Merkurius</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Info
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm>
        <ion-card tappable href="venus">
          <ion-card-header>
            <ion-card-title>Venus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Info
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-sm>
        <ion-card tappable href="jorden">
          <ion-card-header>
            <ion-card-title>Jorden</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Info
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      
    </ion-row>
  
    <ion-row>
      <ion-col sizes="12" size-sm>
        <ion-card tappable href="mars">
          <ion-card-header>
            <ion-card-title>Mars</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Info
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sizes="12" size-sm>
        <ion-card tappable href="jupiter">
          <ion-card-header>
            <ion-card-title>Jupiter</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Info
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sizes="12" size-sm>
        <ion-card tappable href="saturnus">
          <ion-card-header>
            <ion-card-title>Saturnus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Info
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 

    <ion-row>
      <ion-col sizes="12" size-sm>
        <ion-card tappable href="uranus">
          <ion-card-header>
            <ion-card-title>Uranus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Info
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col sizes="12" size-sm>
        <ion-card tappable href="neptunus">
          <ion-card-header>
            <ion-card-title>Neptunus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Info
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sizes="12" size-sm>
        <ion-card tappable href="pluto">
          <ion-card-header>
            <ion-card-title>Pluto</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Info
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>