ion-card{
  width:auto;
  height:auto;
  border-style: solid;
  border-color: #000000;
  background-color: #222222;
}

ion-content {
  --background: url(../../assets/bakgrundsbilder/månen.jpg) no-repeat center/cover fixed;
  background-color: #ffffff;
}

ion-header{
  height:auto;
  color: #ffffff;
}

ion-header{
  border-style: solid;
  border-color: #000000;
}