<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Welcome! Please select a planet!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!--Rad 1-->
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card tappable (click)="changeSide('merkurius')">
          <ion-card-header>
            <ion-card-title>Merkurius</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{InputText}}
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm>
        <ion-card tappable (click)="changeSide('venus')">
          <ion-card-header>
            <ion-card-title>Venus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{InputText}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-sm>
        <ion-card tappable (click)="navJorden()">
          <ion-card-header>
            <ion-card-title>Jorden</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{InputText}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
    <!--Rad 2-->
    <ion-row>
      <ion-col sizes="12" size-sm>
        <ion-card tappable (click)="changeSide('mars')">
          <ion-card-header>
            <ion-card-title>Mars</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{InputText}}
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sizes="12" size-sm>
        <ion-card tappable (click)="changeSide('jupiter')">
          <ion-card-header>
            <ion-card-title>Jupiter</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{InputText}}
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sizes="12" size-sm>
        <ion-card tappable (click)="changeSide('saturnus')">
          <ion-card-header>
            <ion-card-title>Saturnus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{InputText}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 

    <!--Rad 3-->
    <ion-row>
      <ion-col sizes="12" size-sm>
        <ion-card tappable (click)="changeSide('uranus')">
          <ion-card-header>
            <ion-card-title>Uranus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{InputText}}
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col sizes="12" size-sm>
        <ion-card tappable (click)="changeSide('neptunus')">
          <ion-card-header>
            <ion-card-title>Neptunus</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{InputText}}
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col sizes="12" size-sm>
        <ion-card tappable (click)="changeSide('pluto')">
          <ion-card-header>
            <ion-card-title>Pluto</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{InputText}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>