<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Welcome! Please select planet!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header [translucent]="true">
    <ion-grid>

      <ion-row>

        <ion-col size="12" size-sm>
          <ion-card tappable href="merkurius">
            <ion-card-header>
              <ion-card-title>Merkurius</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Merkurius är den innersta och minsta planeten i solsystemet, med en omloppstid runt solen av ungefär 88 dygn.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm>
          <ion-card tappable href="venus">
            <ion-card-header>
              <ion-card-title>Venus</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Venus är den andra planeten i solsystemet från solen räknat och den är nästan lika stor som jorden.
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col size="12" size-sm>
          <ion-card tappable href="jorden">
            <ion-card-header>
              <ion-card-title>Jorden</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Jorden är den tredje planeten från solen och den största av de så kallade stenplaneterna i solsystemet. 
              Jorden är hemvist för alla kända levande varelser, inklusive människan
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        
      </ion-row>
    
      <ion-row>
        <ion-col sizes="12" size-sm>
          <ion-card tappable href="mars">
            <ion-card-header>
              <ion-card-title>Mars</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Mars är den fjärde planeten från solen och solsystemets näst minsta planet. 
              Den har fått sitt namn efter den romerska krigsguden Mars 
              och kallas ibland för "den röda planeten" på grund av sitt rödaktiga utseende.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col sizes="12" size-sm>
          <ion-card tappable href="jupiter">
            <ion-card-header>
              <ion-card-title>Jupiter</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Jupiter är den femte planeten från solen och är med stor marginal solsystemets största planet. 
              Dess massa är 2,5 gånger så stor som alla de andra planeternas sammanlagda massa.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col sizes="12" size-sm>
          <ion-card tappable href="saturnus">
            <ion-card-header>
              <ion-card-title>Saturnus</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Saturnus är den sjätte planeten från solen och den näst största i solsystemet. 
              Den är en gasjätte, känd sedan förhistorisk tid. 
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row> 

      <ion-row>
        <ion-col sizes="12" size-sm>
          <ion-card tappable href="uranus">
            <ion-card-header>
              <ion-card-title>Uranus</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Uranus är den sjunde planeten från solen. 
              Uranus är en av solsystemets fyra jätteplaneter - 
              Jupiter, Saturnus, Uranus och Neptunus - och är av ungefär samma storlek som Neptunus.
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <ion-col sizes="12" size-sm>
          <ion-card tappable href="neptunus">
            <ion-card-header>
              <ion-card-title>Neptunus</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Neptunus är den åttonde planeten från solen. Neptunus är en så kallad gasjätte 
              och har fått sitt namn efter havsguden Neptunus i romersk mytologi.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col sizes="12" size-sm>
          <ion-card tappable href="pluto">
            <ion-card-header>
              <ion-card-title>Pluto</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Pluto är en dvärgplanet av typen plutoid i de yttre delarna av solsystemet.
              Ursprungligen antogs Pluto vara ungefär lika stor som jorden och den klassificerades som den nionde planeten från solen.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-header>
</ion-content>